* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #020202;
  overflow-y: auto;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maps,
.profile,
.button,
.company,
.technologies,
.project {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  width: 90vw; /* Responsive width for mobile */
  max-width: 90vh; /* Maximum width for larger screens */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin: 1vh;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.maps {
  height: 60vh;
  max-height: 30vh;
}

.profile {
  height: 30vh;
  max-height: 20vh;
}

.button {
  height: 20vh;
  max-height: 5vh;
}

.company {
  height: 30vh;
  max-height: 20vh;
}

.technologies {
  height: 60vh;
  max-height: 30vh;
}

.project {
  height: 60vh;
  max-height: 50vh;
}
